* {
    box-sizing: border-box; /* faz com que a borda seja parte da dimensão da div */

}
body {
    background-color: azure;
    margin: 0;
}
div {
    border: blue dashed 2px; /* borda azul tracejada e com 2 pixels de espessura */
    color:brown;
    text-align: center;
}
#A , #B {
    width: 100px;
    height: 100px;
}













